.buttonFilter{
    border: 1px solid lightgray;
    border-radius : 5px;
    width : 100px;
    height:25px;
    text-align: center;
    cursor:pointer
}
.active{
    background:#F0F0F0;
    box-shadow: 2px 2px 1pxgray;
}